.header-content {
  text-align: center;
}

.form-border {
  border: 2px solid red;
  display: inline-block;
  max-width: 80%;
  max-height: 60%;
  padding: 3%;
}

.App {
  text-align: center;
}

.half-width {
  margin-bottom: 20px;
  display: inline-block;
  width: 50%;
}

.full-width {
  width: 100%;
  display: inline-block;
}

.third-width {
  width: 33%;
  display: inline-block;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 15px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid darkblue;
  border-radius: 4px;
}

#half-width-item-one {
  padding-right: 3%;
}